@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');

body {
    font-family: 'Rubik', san-serif;
    background-image: url(../assets/pink.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.156);
    align-items: center;
    font-family: 'Princess Sofia', cursive;
    font-size: 40px;
    border-radius: 20px;
    width: 75%;
    justify-content: center;
}

#todo {
    position: static;
    right: 50%;
}

main {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

#sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.156);
    margin: 15px;
    padding-bottom: 10px;
    padding: 30px;
    border-radius: 20px;
    border: 15px solid transparent;
    border-image: url(../assets/star.png) 30 round;
}

#sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.156);
    margin: 15px;
    padding-bottom: 10px;
    padding: 30px;
    border-radius: 20px;
    border: 15px solid transparent;
    border-image: url(../assets/star.png) 30 round;
}

button {
    background-color: rgba(0, 0, 0, 0.105);
    border-radius: 50px;
    margin-top: 5px;
}

#sign-in-btn {
    margin-top: 55px;
}

button:hover {
    background-color: palevioletred;
}

h2 {
    display: flex;
    align-items: center;
}

input {
    margin: 5px;
    padding: 3px;
}

#logout {
    border-radius: 50%;
    width: 120px;
    padding-top: 10px;
}

#logout p {
    margin: 3px;
}

#welcome {
    font-size: 45px;
}

#task {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    border: 15px solid transparent;
    border-image: url(../assets/star.png) 30 round;
}

div {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.105);
    
}

#new-task {
    border: 15px solid transparent;
    border-image: url(../assets/star.png) 30 round;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.105);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add{
    display: flex;
    flex-direction: column;
    align-items: center;
}